@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Oleo+Script+Swash+Caps&display=swap');

.content {
    margin: auto;
    margin-left: 30px;
    width: 50%;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    background-color: #a09e9e81;
    border-radius: 4px;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
}

body {
    color: #232121;
    text-align: center;
    font-family: Helvetica;
    background-color: #d0cdcdb2;
    display: flex;
}

.image-with-text img {
    float: left;
    border: 5px solid white;
    margin: 8px 4px;
}

.image-with-text span {
    text-decoration: underline;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: #494747;
    display: block;
    margin: 0 auto;
}

.sidenav {
    border: 1px solid #4947473f;
    margin: 35px 20px 0 30px;
    width: 180px;
    background-color: #d0cdcdb2;
}

.sidenav button {
    border: none;
    background-color: #494747;
    color: white;
    width: 90%;
    height: 60px;
}

.sidenav button:hover {
    background-color: #4947477a;
}

.sidenav ul{
    width: 100%;
    padding: 0;
}

.sidenav li{
    list-style: none;
}

.sidenav a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.sidenav .below {
    border-top: 1px solid #d0cdcdb2;
}

header p {
    text-align: start;
    font-style: italic;
    font-size: 20px;
}

hr {
    border: 1px solid #232121;
    border-radius: 5px;
}

.description {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 10px;
}

.project h2 {
    font-size: 30px;
    font-weight: bold;
    border-radius: 4px;
    background-color: #a09e9e81;
}

.projectlist {
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.projectlist li{
    list-style: numbered;
}

.description p {
    padding-left: 10px;
    font-size: 18px;
}

footer {  
    position: absolute;
    bottom: 14px;
    width: 50%;
    display: flex;
    justify-content: center;
}

.github {
    margin-right: 50px;
}

.github img {
    width: 24px;
    height: 24px;
}

.linkedin img {
    width: 24px;
    height: 24px;
}
