.content {
    margin: auto;
    max-width: 980px;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
    background-color: red;
}

body {
    text-align: center;
    font-family: Helvetica;
}

img {
    float: left;
}

.image-with-text > p {
    font-style: italic;
    text-decoration: underline;
    display: block;
    margin: 0 auto;
}

li {
    list-style: none;
}

.description {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 18px;
}

hr {
    margin: 10px;
}

.projectlist > h2 {
    font-size: 30px;
    font-weight: bold;
    background-color: yellow;
}

.description > p {
    padding-left: 10px;
    font-size: 18px;
}

.footer {
    width: 50%;
    position: absolute;
    bottom: 20px;
}
